@CHARSET "UTF-8";

body {
	background-color: #efefef;
}

#logo {
	padding-left: 38%;
	width: 100%;
}

#error {
	text-align: center;
}

#signin {
	position: relative;
	display: block;
	width: 230px;
	height: 100px;
	margin-left: 43%;
}

#signin > ul {
	padding: 0;
}

#signin > ul > li {
	list-style: none;
	display: block;
	float: left;
	width: 100%;
	padding-top: 2px;
	paddding-bottom: 2px;
}

#signin > ul > li > input {
	float: right;
}

#signin > ul > li > label {
	font-size: 14px;
}

strong {
	color: red;
}
